[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Computational methods of linear algebra
[access "refs/*"]
	owner = group user/L1feisON
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/L1feisON
	label-Verified = -1..+1 group user/L1feisON
	push = group user/L1feisON
	read = group user/L1feisON
	rebase = group user/L1feisON
	removeReviewer = group user/L1feisON
	submit = group user/L1feisON
[access "refs/heads/*"]
	create = group user/L1feisON
	push = +force group user/L1feisON
	pushMerge = group user/L1feisON
	read = group user/L1feisON
[access "refs/tags/*"]
	push = group user/L1feisON
	push = +force group user/L1feisON
